# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# build and out
build/
out/

# binary
bin/

# libs
lib/

# vscode
.vscode/
.vs/

# cmake
CMakeUserPresets.json

# doxygen
docs/html/